@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);


body {
  background-color: rosybrown;
}

#login {
  overflow: hidden;
  background-color: white;
  padding: 40px 30px 30px 30px;
  border-radius: 10px;
  position: absolute; 
  top: 50%;
  left: 50%;
  width: 400px;
  height: 300px;
  box-shadow: 5px 10px 10px rgba(2, 128, 144, 1);
  transform: translate(-50%, -50%);
}

#signUp {
  overflow: hidden;
  background-color: white;
  padding: 40px 30px 30px 30px;
  border-radius: 10px;
  position: absolute; 
  top: 50%;
  left: 50%;
  width: 400px;
  height: 300px;
  box-shadow: 5px 10px 10px rgba(2, 128, 144, 1);
  transform: translate(-50%, -50%);
}
  
  
  
p {
  font-family: '나눔고딕';
  display: block;
  border-radius: 5px;
  font-size: 16px;
  background: white;
  width: 100%;
  border: 0;
  padding: 10px 10px;
  margin: 15px -10px;
}
  
#loginButton {
font-family: '나눔고딕';
cursor: pointer;
color: #fff;
font-size: 16px;
text-transform: uppercase;
width: 80px;
border: 0;
padding: 10px 0;
margin-top: 68px;
margin-left: -5px;
border-radius: 5px;
background-color:lightseagreen;  
}

#signUpButton {
  font-family: '나눔고딕';
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  width: 80px;
  border: 0;
  padding: 10px 0;
  margin-top: 10px;
  margin-left: -5px;
  border-radius: 5px;
  background-color:lightseagreen;  
  }

h1 {
  text-align: center;
}

.mainLink {
  color: #1f1f1f;
  letter-spacing: 0;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  margin-left: 100px;
  text-decoration: none;
}

.mainLink:hover {
  text-decoration: underline;
}
